<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-Page</title>
    <link rel="stylesheet" href="../assets/scss/style.css">
</head>
<body>
  <nav>
    <div>
      <div class="outerCircle">
      <div class="circle"></div>
    </div>
      <a href="/">HOME</a>
    </div>
    <div>
      
        <div class="circle"></div>
      
      <a href="/projects">WORK</a>
    </div>
    <div>
      <div class="circle"></div>
      <a href="/contact">CONTACT</a>
    </div>
    
    
  </nav>
    <!-- herotyping -->
    <div class="container">
        <h1>Erik Ramich The 
          <span class="txt-type" data-wait="3000" data-words='["WebDeveloper", "Funny Guy", "Creative Head"]'></span>
        </h1>
        <h2>Welcome To My Website</h2>
      </div>
    <!-- herotyping -->
   
  
    <!-- Scripts -->
    <script src="../assets/js/typewriter.js"></script>
    <script src="../assets/js/carousel.js"></script>
    <!-- Scripts -->
</body>
</html>